@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* whole body */
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #ebebeb;
}

h1, h2, h3, p {
    color: #817a83;
}

section {
    background-color: white;
    margin: 27px 480px;
    border-radius: 5px;
    box-shadow: 2px 0 2px 0 #d9d9d9, -2px 0 2px 0 #d9d9d9, 0 3px 3px 0 #d9d9d9;
}

/* first section */
#firstSection {
    text-align: center;
}

h1 {
    color: #dd5555;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 500;
}

button {
    background-color: #dd5555;
    border: none;
    border-radius: 5px;
    color: white;
    height: 60px;
    width: 200px;
    font-size: 23px;
    margin-bottom: 25px;
}

button:hover {
    background-color: rgb(255, 180, 180);
}

#portraitTimBerners {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 49%;
    border: solid 7px #cacaca;
    margin-top: 30px;
}

@keyframes fade-in {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

.image-transition:hover {
    animation: fade-in 1s;
    opacity: 0;
}

#www {
    width: 150px;
    height: 150px;
    border-radius: 49%;
    border: solid 7px #cacaca;
    margin-top: 30px;
}

#firstText {
    margin: 25px 35px;
    text-align: justify;
    font-size: 23px;
}

/* Second section */
#secondSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 35px;
}

.logoName {
    font-size: 23px;
}

.logo {
    font-size: 37px;
    font-weight: 800;
}

a, .a:visited {
    text-decoration: none;
    color: #deddda;
}

a:hover {
    color: #999999;
}

/* third section */
#thirdSection {
    text-align: center;
    padding: 30px;
    flex-wrap: wrap;
}

.filmDescritpion {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#hMovies {
    padding-top: 50px;
    font-weight: 00;
}

h3 {
    font-size: 25px;
}

.filmText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 22px;
    margin-left: 35px;
    margin-right: 35px;
}

.filmPoster {
    max-width: 20%;
    height: 20%;
    margin-left: 50px;
}