
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


/* whole body */

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p {
    color: #817a83;
}

body {
    background-color: #ebebeb
}

section {
    background-color: white;
    margin: 27px 480px 27px 480px;
    border-radius: 5px;
    box-shadow: 2px 0 2px 0 #d9d9d9, -2px 0 2px 0 #d9d9d9, 0 3px 3px 0 #d9d9d9;
}


/* first section */ 

#firstSection {
    text-align: center;
   
    
}
h1 {
    color: #dd5555;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}
h2 {
    margin: 0px;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 500;
}

button {
    background-color: #dd5555;
    border: none;
    border-radius: 5px;
    color: white;
    height: 60px;
    width: 200px;
    margin: 0px;
    font-size: 23px;
    margin-bottom: 25px;
}

button:hover {
    background-color: rgb(255, 180, 180);
}

#portraitTimBerners {
    width: 150px;
    height: 150px;
    border-radius: 49%;
    border : solid;
    border-width: 7px;
    border-color: #cacaca;
    margin-top: 30px;
}

#firstText {
    margin: 25px 35px 25px 35px;
    text-align: justify;
    font-size: 23px;
}

/* Second section */ 

#secondSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 35px 80px 35px;

}

.logoName {
    font-size: 23px;
}

.logo {
    font-size: 37px;
    font-weight: 800;
}


a, .a:visited {
    text-decoration: none;
    color: #deddda;
}

a:hover {
    color: #999999;
}

/* third section */

#thirdSection {
    text-align: center;
    padding: 30px;
}

.filmDescritpion {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    padding-top: 50px;
}

h3 {
    font-size: 25px;
}

.filmText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 22px;
    margin-left: 35px ;
    margin-right: 35px ;
}

.filmPoster {
    max-width: 15%;
    height: 15%;
    margin-top: 50px;
    margin-left: 50px;
}